---
Created: [[2022-07-16]]
Aliases: 
Types: Card
Tags: 
- 
---
# Verification
## Manual logic analysis
![[Screen Shot 2022-09-23 at 13.10.46.png]]
- breaking up the circuit into subcircuits by defining intermediate variables at selected points in the circuit (fan-out point)
- fan-out point: the point at which a gate output drives $\geq$ 2 gate inputs
## Computer simulation-based logic analysis
![[Screen Shot 2022-09-23 at 13.10.15.png]]
- permitting truth table verification to be done for a significantly larger # of variables and greatly reduces the tedious analysis effort required
- A thorough verification to apply all possible input combinations
